#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Name=Star WorkOS
Comment=Star WorkOS
Exec=xdg-open https://github.com/xxnuo/WorkOS
Icon=workos
Terminal=false
Type=Application
Categories=Network;
